* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: rgb(246, 249, 252);
  padding: 20px;
}

.header--image {
  width: 45px;
  margin-right: 5px;
}

.header--title {
  font-size: 25px;
  margin-right: auto;
}

/* Form styling */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for labels and inputs */
  gap: 10px; /* Space between form elements */
  align-items: start;
}

.form--label {
  grid-column: span 1; /* Labels span one column each */
  font-weight: bold;
}

.form--input {
  grid-column: span 1; /* Inputs also span one column each */
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  padding: 10px;
  width: 100%; /* Make input width 100% of the column */
}

.form--button {
  grid-column: 1 / span 2; /* Make button span two columns */
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  margin-top: 15px;
  width: 100%;
}

main {
  padding: 36px;
}
.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  /* width: 100%; */
  
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}